:root {
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color-1: #ffb6c1;
    --color-2: #d46ed4;
    --color-3: #fff1fa;
    --color-4: #fde3f4;
    --color-5: #d2b2d2;
    --color-6: hsla(0, 0%, 0%, 0.286);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--color-1);
}

.layout {
    width: 100%;
    min-height: 60dvh;
    margin: 0 auto;
    background-color: var(--color-3);
    border: 1px solid var(--color-5);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--color-6);
}

.tab-headers {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-5);
}

.tab-header {
    padding: 1rem 2rem;
    font-size: 2rem;
    border: 1px solid transparent;
    border-bottom: none;
    background-color: transparent;
    color: var(--color-5);
    cursor: pointer;
    transition: all 0.3s ease;

    h2 {
        margin: 0;
        font-size: 1.2rem;
    }

    &:hover {
        color: var(--color-2);
    }

    &.active {
        color: var(--color-2);
        text-shadow: 0px 0px 2px var(--border-color);
        border-color: var(--color-5);
        border-radius: 5px 5px 0 0;
    }
}

.tab-content-container {
    width: 95%;
    margin: 0 auto;
}

.tab-content {
    display: none;
    line-height: 1.6;
    font-size: 1.5rem;

    &.active {
        display: block;
        padding: 2rem;
        background-color: var(--color-4);
        border-radius: 10px;
        border: 1px solid var(--border-color);
    }
}
