/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Variables*/
:root{
    --violet: #7d3c98;
    --pink: #C2A6CC;
    --lightpink: #DFD0E5;
    --blue: #149A9D;
    --lightblue: #9FCFD3;
    --white: #F1F1F9;
}
/*Body styles*/
body{
    background-color: #282828;
}
.body_container{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 10px;
    background-color: #F2F2EC;
    box-shadow: 0px 0px 20px 5px var(--blue);
}
h1{
    margin: 30px 0;
}
h1, p, div{
    font-family: "Parkinsans", sans-serif;
}
header p, .timeline_date{
    color: rgb(100, 100, 100);
}
header p{
    margin-bottom: 40px;
}
.timeline_item{
    display: flex;
    align-items: center;
}
.timeline_date{
    text-align: right;
    flex: 1;
    margin: 15px;
}
.timeline_dot{
    width: 15px;
    height: 15px;
    display: inline;
    position: relative;
    background-color: var(--blue);
    border-radius: 100%;
    margin: 15px;
}
.timeline_dot::before{
    position: absolute;
    content: "";
    background-color: var(--blue);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 4em;
}
.timeline_dot::after{
    position: absolute;
    content: "";
    background-color: var(--blue);
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 3em;
}
.timeline_text{
    text-align: left;
    flex: 2;
    margin: 15px;
}
.btn{
    margin: 60px 0 30px 0;
    padding: 6px;
    font-family: "Sour Gummy", serif;
    font-size: 1em;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--violet);
    border: 1px solid var(--white);
    box-shadow: 2px 2px 5px var(--violet);
}